.input {
  display: flex;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: clamp(12px, 3vw, 20px) clamp(20px, 5vw, 30px);
  font-size: clamp(16px, 2vw, 24px);
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input_submit {
  position: absolute;
  margin: clamp(8px, 1vw, 12px);
  border-radius: 50px;
  right: 0;
  border: none;
  font-size: clamp(12px, 1.5vw, 15px);
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
  padding: clamp(10px, 2vw, 15px);
}

.input_submit:hover {
  background-color: #388ae2;
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.todo-container{
  display: flex;
  justify-content: center;
  width:100%;
}
.todos {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: clamp(0.5rem, 2vw, 1rem);
  width: 80%;
  padding: clamp(10px, 2vw, 20px);
}

.todos__single {
  display: flex;
  align-items:center;
  border-radius: 5px;
  padding: clamp(15px, 2vw, 25px);
  margin-top: clamp(10px, 1.5vw, 20px);
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
}
.todos__single--text {
  flex: 1;
  padding: clamp(5px, 1vw, 10px);
  border: none;
  font-size: clamp(14px, 1.5vw, 18px);
  height: fit-content;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: clamp(5px, 1vw, 10px);
  font-size: clamp(18px, 1.8vw, 24px);
  cursor: pointer;
  transition: 0.2s ease;
}

 @media (max-width:768px){
  .todos{
    justify-content:center;
  }
 }